<main>
    <div class="container">
        <form class="form-wrapper">
            <h1 class="form-header">Вход</h1>
            {{{inputLogin}}}
            {{{inputPassword}}}
            <div class="button-wrapper">
                {{{enterbutton}}}
                {{{singupLink}}}
            </div>
        </form>
    </div>
</main>