<main>
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="sidebar-profile">
                <a class="sidebar-profile_link">Профиль ></a>
            </div>
            <div class="sidebar-search">
                <input type="text" name="search" placeholder="Поиск">
            </div>
            <ul class="chat-list">

            </ul>
        </div>
        <div>
            <h3>Пока здесь будут ссылки на страницы ошибок</h3>
            <div class="link-wrapper">
                {{{link404}}}
                {{{link500}}}
            </div>
        </div>
    </div>
</main>
