<div class="chat-preview">
    <div class="chat-preview__avatar"></div>
    <div class="chat-preview__main">
        <div class="chat-preview__name">{{name}}</div>
        <div class="chat-preview__text">{{text}}</div>
    </div>
    <div class="chat-preview__side-info">
        <div class="chat-preview__unread"><span class="chat-preview__unread-number">{{unreadNumber}}</span></div>
    </div>
</div>
