/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');*/

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #3369F3;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}