/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');*/
:root {
    --separator-color: #EAEAEA;
    --light-blue: #3369F3;
    --white: #FFF;
    --gray-text: #999;
    --sidebar-background: #FBFBFB;
    --light-gray: #EFEFEF;
    --red: #FF0000;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--light-blue);
    text-align: center;
    font-size: 11px;
    line-height: 11px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}
