.form-header {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0 40px;
}

.button-wrapper {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}

.link-button {
  margin-top: 14px;
}
