---
{
    title: 'Chat',
    stylesheet: [
        '../components/styles/chat_preview.css',
        './css/chat.css'
    ],
    chats: [
        {name: 'Андрей', text: 'Изображение', time: '10:49', unread_number: '2'},
        {name: 'Киноклуб', text: 'Вы: стикер', time: '12:00', unread_number: '5'},
        {name: 'Илья', text: 'Друзья, у меня для вас особенный выпуск новостей!...', time: '15:12', unread_number: '4'},
        {name: 'тет-а-теты', text: 'Вы: Круто!', time: 'Пт', unread_number: '10'},
    ]
}
---
{{#extend 'layout'}}
    {{#content 'main'}}
        <main>
            <div class="chat-container">
                <div class="chat-sidebar">
                    <div class="sidebar-profile">
                        <a class="sidebar-profile_link" href="./profile.hbs">Профиль ></a>
                    </div>
                    <div class="sidebar-search">
                        <input type="text" name="search" placeholder="Поиск">
                    </div>
                    <ul class="chat-list">
                        {{#each chats}}
                            <li>
                                {{> chat_preview name=this.name text=this.text time=this.time unread_number=this.unread_number }}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div>
                    <h3>Пока здесь будут ссылки на другие страницы</h3>
                    <div class="link-wrapper">
                        {{> link url="./404.hbs" text="Page 404"}}
                        {{> link url="./error.hbs" text="Page 500"}}
                    </div>
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
