.main-button {
    border-radius: 8px;
    background: var(--light-blue);
    border: none;
    color: var(--white);
    font-size: 13px;
    line-height: 13px;
    padding: 12px;
    cursor: pointer;
}
