.input-wrapper {
  position: relative;
  padding: 10px 20px;
}

.input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--light-blue);
  font-size: 13px;
  line-height: 13px;
  padding: 7px 0;
}

.input-field:focus {
  outline: none;
}

.input-label {
  position: absolute;
  font-size: 13px;
  line-height: 13px;
  left: 20px;
  top: 0;
  color: var(--gray-text);
}

/* пока откл. Лейбл или не реагирует или смещается, но возвращается */

/* .input-field:not(:placeholder-shown) + .input-label { */

/*    font-size: 9px; */

/*    line-height: 9px; */

/*    transform: translateY(-10px); */

/* } */

/* .input-field:focus + .input-label { */

/*    font-size: 9px; */

/*    line-height: 9px; */

/*    transform: translateY(-10px); */

/* } */
