<main>
    <div class="container">
        <form class="form-wrapper" id="avatar-form">
            <input type="file" accept="image/*" name="avatar" id="avatar">
            <div class="button-wrapper">
                {{{buttonSave}}}
                {{{linkBack}}}
            </div>
        </form>
    </div>
</main>